.logoContainer {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-bottom: 50px;
}

.logo {
  height: 55px;
}

.container {
  font-family: Helvetica, sans-serif;
  margin: auto auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #90caf9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.container h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.container .field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.container .field label {
  width: 100%;
  max-width: 280px;
  text-align: left;
  margin-bottom: 5px;
  color: #495057;
  margin-left: 5px;
}

.container .field input {
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.container .containerBtn {
  display: flex;
  justify-content: center;
}

.container .containerBtn .button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #1565c0;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.container .containerBtn .button:hover {
  transition: 0.5s;
  background-color: #3a6ea5;
}

.container .containerBtn .button:disabled {
    background-color: #b0bec5; 
    color: #eceff1; 
    cursor: not-allowed; 
    opacity: 0.6; 
}

.container p {
  text-align: center;
  margin-top: 20px;
}